* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  cursor: pointer;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.li {
  max-width: 360px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 48px;
  margin: 100px 150px;
}

#name-input {
  padding: 8px 16px;
  min-width: 360px;
}

#name-output {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
letter-spacing: 0.04em;
color: #2e2f42;
}

::placeholder {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
}

.login-form {
display: flex;
flex-direction: column;
gap: 8px;
margin-left: auto;
}

.login-form label {
display: flex;
flex-direction: column;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42; 
}

.login-form label input {
  margin-top: 8px;
  max-width: 360px;
  min-height: 40px;
}

.login-form button {
border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
background-color: #4e75ff;
border: none;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}

.change-color {
border-radius: 8px;
padding: 8px 16px;
width: 148px;
height: 40px;
background-color: #4e75ff;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
border: none;
}